body {
  font-family: sans-serif;
  text-align: center;
  /* background-color: #cdcdcb; */
}

img {
  /* box-sizing: border-box; */
  width: 100%;
}

a {
  color: gray;
}

a:hover {
  color: green;
}

h1 {
  text-transform: uppercase;
  color: green;
  font-size: 48px;
}

h2 {
  text-transform: uppercase;
  font-size: 36px;
  margin-top: 40px;
  margin-bottom: 10px;
}

#powerballQuickPick {
  font-size: 48px;
  color: green;
}

#lottoQuickPick {
  font-size: 48px;
  color: green;
}

#message {
  font-size: 48px;
  color: green;
}

button {
  background-color: #4CAF50;
  /* border: none; */
  color: white;
  padding: 10px 24px;
  /* text-align: center; */
  /* text-decoration: none; */
  /* display: inline-block; */
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

figcaption {
  font-size: 10px;
  color: gray;
  margin-top: .5rem;
  margin-bottom: 2rem;
